
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='anotherstyle.css') }}">

</head>
<body>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A minus eos fugit cumque similique dolore cupiditate. Repudiandae sequi eos, atque incidunt obcaecati inventore dolores explicabo in a vitae autem nemo!</p>
</body>
</html>